@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Noto Sans', sans-serif;
}

nav ul li::hover {
    border: 2px solid rgb(115, 100, 208);
}

#button:hover {
        -webkit-animation: button 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: button 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes button {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
  }
  @keyframes button {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
  }
  